* {
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(hsl(260, 5%, 15%), hsl(260, 5%, 5%));
  background-attachment: fixed;
  color: #f5f5f5;
  letter-spacing: 0.02em;
  font-size: 14px;
  font-weight: 300;
}

p, h3 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 900px;
  padding: 50px;
  margin: 0 auto;
}

.search input {
  width: 100%;
  height: 100px;
  background: transparent;
  border: none;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 50px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  outline: none;
}

.search input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.search:not(.active) .container {
  padding: 0;
}

.search.active {
  display: block;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  background: linear-gradient(hsl(260, 5%, 15%), hsl(260, 5%, 5%));
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.result {
  margin-bottom: 20px;
  height: 50px;
}

.track {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  opacity: .25;
  width: 100%;
  height: 50px;
}

.track.nowplaying {
  opacity: 1;
  height: 120px;
}

.track.nowplaying .art {
  width: 120px;
}

.track .art {
  margin-right: 15px;
  height: 100%;
  width: 50px;
  background: linear-gradient(hsl(260, 5%, 15%), hsl(260, 5%, 5%));
}

.track .art img {
  height: 100%;
}

.top {
  opacity: 0.5;
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  height: 25px;

}

.top > div {
  height: 25px;
  margin-left: 10px;
}

.settings {
  display: block;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  background: linear-gradient(hsl(260, 5%, 15%), hsl(260, 5%, 5%));
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.empty {
  text-align: center;
  opacity: .1;
}
